target/
*~
*largeEWD.txt.gz
TODO.txt
*-gh/
*.osm
nbactions-*.xml
config.properties
build.xml
queries.sh
maven/
measurement*.properties
live_graphhopper.sh
gen/
bin/
*.map
scripts/googlecode_upload.py
deploy.sh
android/libs/graphhopper-*-android.jar
*/nbactions.xml
.idea/
*iml
debug.sh
*.pbf
*.dem
*.log
*.pyc
*.class
core/TODO*.txt
cgiarprovider/
*.gh
srtmprovider/
core/docs/
.*#
cgiarprovider/
/SMART-GH-Android/nbproject/private/
/HTML5Application/nbproject/private/
/WebServices/RestfulWSApp/nbproject/private/
/WebServices/RestfulWSApp/dist/
/WebServices/RestfulWSApp/build/
/WebServices/GHRESTfulWSApp/nbproject/private/
/GHRestWSs/nbproject/private/
/GHRestWSs/build/
/GHRestWSs/dist/
/GHRestfulWS/nbproject/private/
/GHRestfulWS/dist/
/GHRestfulWS/build/
/WebServicesRestGH/dist/
/WebServicesRestGH/build/
/WebServicesRestGH/nbproject/private/
/core/src/main/java/com/graphhopper/routing/util/.DS_Store

/SMART-GH-Android/platforms/.DS_Store

/SMART-GH-Android/bin/classes.dex
/SMART-GH-Android/platforms/android/CordovaLib/.settings/org.eclipse.jdt.core.prefs
/SMART-GH-Android/platforms/android/settings.gradle
/SMART-GH-Android/platforms/android/src/com/coolappz/smartghAndroid/CordovaApp.java

/web/.settings/org.eclipse.vjet.eclipse.core.prefs

/web/src/main/webapp/.DS_Store
